/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: December 28, 2022
   Description: CSS Stylesheet for professional portfolio.
******************************************************************************/
@font-face {
    font-family: "typewriter";
    src: url("/src/fonts/momt___-webfont.woff2") format("woff2"),
        url("/src/fonts/momt___-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; 
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --color1: rgb(250, 209, 154);
}

#content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    border: solid black 1px;
    border-radius: 5px;
    width: 90%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background: url('/src/images/mountain.png');
}

.footer {
    background-color: burlywood;
    border: solid black 1px;
}

.tab-title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.header-image {
    height: 100px;
}

.main {
    background-color: burlywood;
    border: solid black 1px;
}

.menu-list {
    background-color: burlywood;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    border: solid black 1px;

    display: flex;
}

.name {
    padding: 15px 10px 10px 10px;
    text-align: left;
}

.page-tab {
    background-color: var(--color1);
    font-family: "typewriter", sans-serif;
    border: solid black 1px;
    width: 100px;
    height: 30px;
    padding-top: 13px;
}

.paragraph-content {
    margin: 10px;
}

.resume-border {
    border-top: solid black 1px;
    border-bottom: solid black 4px;
    height: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.resume-heading {
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
}

.resume-heading:last-of-type {
    margin-bottom: 2px;
}

.resume-job-title {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.resume-link {
    margin-left: 20px;
}

.resume-section-border {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;

    border-top: solid black 2px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;

    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--color1);
}

.tab-title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

@media only screen and (min-width: 700px) {
    .content-container {
        width: 700px;
    }

    .menu-list {
        column-gap: 20px;
    }
}