/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: December 28, 2022
   Description: CSS Stylesheet for professional portfolio.
******************************************************************************/
@font-face {
    font-family: "typewriter";
    src: url("/src/fonts/momt___-webfont.woff2") format("woff2"),
        url("/src/fonts/momt___-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; 
}
* {
    margin: 0;
    padding: 0;
}

#content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: url('/src/images/mountain.png');
}

.footer {
    background-color: whitesmoke;
    border: solid black 1px;
}

.header-image {
    height: 100px;
}

.main {
    background-color: whitesmoke;
    border: solid black 1px;
}

.menu-list {
    background-color: whitesmoke;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    border: solid black 1px;

    display: flex;
    column-gap: 20px;
}

.page-tab {
    font-family: "typewriter", sans-serif;
    border: solid black 1px;
    width: 100px;
    height: 30px;
    padding-top: 13px;
}

@media only screen and (min-width: 700px) {

}