/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: December 28, 2022
   Description: CSS Stylesheet for professional portfolio.
******************************************************************************/